:root {
    --primary: #3b82f6;
    --primary-1: #001A42;
    --primary-2: #002E6A;
    --primary-3: #004395;
    --primary-4: #005AC2;
    --primary-5: #2573E6;
    --primary-6: #4D8EFF;
    --primary-7: #81AAFF;
    --primary-8: #ADC6FF;
    --primary-9: #D8E2FF;
    --primary-10: #EDF0FF;


    --secondary: #3b82f6;
    --tertiary: #d16900;

    --neutral: #121212;
    --neutral-1: #1C1B1B;
    --neutral-2: #313030;
    --neutral-3: #474646;
    --neutral-4: #5F5E5E;
    --neutral-5: #787776;
    --neutral-6: #929090;
    --neutral-7: #ADABAA;
    --neutral-8: #C8C6C5;
    --neutral-9: #E5E2E1;

    --spacing-xs: 0.5rem;
    --spacing-sm: 1rem;
    --spacing-md: 1.5rem;
    --spacing-lg: 2rem;
    --spacing-lg2: 3rem;
    --spacing-xl: 4rem;

    --font-size-xs: 0.5rem;
    --font-size-sm: 1rem;
    --font-size-md: 1.5rem;
    --font-size-lg: 2rem;
    --font-size-lg2: 3rem;
    --font-size-xl: 4rem;
}

/* Font Faces */
@font-face {
    font-family: "Geist";
    src: url("../assets/fonts/Geist-VariableFont_wght.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/Inter-VariableFont_opsz\,wght.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Jetbrains Mono";
    src: url("../assets/fonts/JetBrainsMono-VariableFont_wght.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}