:root {
    --primary: #3b82f6;
    --primary-1: #001A42;
    --primary-2: #002E6A;
    --primary-3: #004395;
    --primary-4: #005AC2;
    --primary-5: #2573E6;
    --primary-6: #4D8EFF;
    --primary-7: #81AAFF;
    --primary-8: #ADC6FF;
    --primary-9: #D8E2FF;
    --primary-10: #EDF0FF;

    --neutral: #121212;
    --neutral-1: #1C1B1B;
    --neutral-2: #313030;
    --neutral-3: #474646;
    --neutral-4: #5F5E5E;
    --neutral-5: #787776;
    --neutral-6: #929090;
    --neutral-7: #D1CFCE;
    --neutral-8: #EAE8E7;
    --neutral-9: #F5F4F3;

    --spacing-xs: 0.5rem;
    --spacing-sm: 1rem;
    --spacing-md: 1.5rem;
    --spacing-lg: 2rem;
    --spacing-lg2: 3rem;
    --spacing-xl: 4rem;

    --font-size-xs: 0.5rem;
    --font-size-sm: 1rem;
    --font-size-md: 1.5rem;
    --font-size-lg: 2rem;
    --font-size-lg2: 3rem;
    --font-size-xl: 4rem;
}

/* Light mode */
header:has(#theme-toggle:checked),
body:has(#theme-toggle:checked) {
    --primary: #3b82f6;
    --primary-1: #EDF0FF;
    --primary-2: #D8E2FF;
    --primary-3: #ADC6FF;
    --primary-4: #81AAFF;
    --primary-5: #4D8EFF;
    --primary-6: #2573E6;
    --primary-7: #005AC2;
    --primary-8: #004395;
    --primary-9: #002E6A;
    --primary-10: #001A42;

    --neutral: #F5F4F3;
    --neutral-1: #EAE8E7;
    --neutral-2: #D1CFCE;
    --neutral-3: #929090;
    --neutral-4: #787776;
    --neutral-5: #5F5E5E;
    --neutral-6: #474646;
    --neutral-7: #313030;
    --neutral-8: #1C1B1B;
    --neutral-9: #121212;
}

/* Font Faces */
@font-face {
    font-family: "Geist";
    src: url("../assets/fonts/Geist-VariableFont_wght.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/Inter-VariableFont_opsz\,wght.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Jetbrains Mono";
    src: url("../assets/fonts/JetBrainsMono-VariableFont_wght.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}